html, body {
    padding: 0 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-size: 1.5em;
}
img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}
a, a:visited {
    color: #8765FB;
}
.slide {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    padding: 2em;
}
.slide:first-child {
    display: block;
}

.vcenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

blockquote {
    margin: 0;
    padding: 0 2em;
    border-left: 6px solid #8765FB;
    color: #5D5D5D;
}
mark {
    background: #95FF8E;
}
pre {
    color: #8765FB;
    padding: 2em;
    font-size: 1.2em;
    background: #F5F5F5;
}
iframe {
    display: block;
    margin: 0 auto;
}

.background {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-size: cover;
    background-position: center center;
}

.background-caption {
    position: absolute;
    bottom: 1em;
    color: #000;
    background: #fff;
}

figcaption {
    text-align: center;
    color: rgba(0,0,0,0.5);
    font-size: 0.6em;
}

.has-text::after {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}
