* {
  box-sizing: border-box;
}

body {
  color: #fff;
  background: #020202;
  font-size: 22px;
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-snap-type: y mandatory;
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE/Edge */
}
html::-webkit-scrollbar {
  display: none;               /* Chrome/Safari */
}

.slide {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

.slide.centered {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

img {
  max-width: 100%;
  max-height: 100vh;
}

h1 {
  font-family: "Inter", system-ui, sans-serif;
}
